# Django
# SECRET_KEY should be a long random string in production
SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=*

# Postgres (uncomment and set when using PG)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=happyness
POSTGRES_USER=happyness
POSTGRES_PASSWORD=happyness

# Gunicorn
GUNICORN_WORKERS=3
